<body>
    <div class=" catalog-banner catalog-img w-100 d-flex justify-content-center align-items-center" style="height: 450px; background-image: url('../../../../assets/img/catalog-banner.png');">
        
    </div>
    <div class="container bootstrap snipets">
        <h1 class="text-start text-muted my-5 ms-4">Nuestros productos</h1>
        <div class="row flow-offset-1">
          <div class="col-xs-6 col-md-4">
            <div class="card m-5" style="width:18rem;">
                <img src="https://images.unsplash.com/photo-1561154464-82e9adf32764?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title text-white">Card title</h3>
                  <h6 class="card-subtitle mb-2  text-white">Card subtitle</h6>
                  <p class="card-text text-white">Some quick example text to build.</p>
                  
                </div>
              </div>
          </div>
          <div class="col-xs-6 col-md-4">
            <div class="card m-5" style="width:18rem;">
                <img src="https://images.unsplash.com/photo-1561154464-82e9adf32764?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title text-white">Card title</h3>
                  <h6 class="card-subtitle mb-2  text-white">Card subtitle</h6>
                  <p class="card-text text-white">Some quick example text to build.</p>
                  
                </div>
              </div>
          </div>
          <div class="col-xs-6 col-md-4">
            <div class="card m-5" style="width:18rem;">
                <img src="https://images.unsplash.com/photo-1561154464-82e9adf32764?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title text-white">Card title</h3>
                  <h6 class="card-subtitle mb-2  text-white">Card subtitle</h6>
                  <p class="card-text text-white">Some quick example text to build.</p>
                  
                </div>
              </div>
          </div>
          <div class="col-xs-6 col-md-4">
            <div class="card m-5" style="width:18rem;">
                <img src="https://images.unsplash.com/photo-1561154464-82e9adf32764?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title text-white">Card title</h3>
                  <h6 class="card-subtitle mb-2  text-white">Card subtitle</h6>
                  <p class="card-text text-white">Some quick example text to build.</p>
                  
                </div>
              </div>
          </div>
          <div class="col-xs-6 col-md-4">
            <div class="card m-5" style="width:18rem;">
                <img src="https://images.unsplash.com/photo-1561154464-82e9adf32764?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title text-white">Card title</h3>
                  <h6 class="card-subtitle mb-2  text-white">Card subtitle</h6>
                  <p class="card-text text-white">Some quick example text to build.</p>
                  
                </div>
              </div>
          </div>
          <div class="col-xs-6 col-md-4">
            <div class="card m-5" style="width:18rem;">
                <img src="https://images.unsplash.com/photo-1561154464-82e9adf32764?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title text-white">Card title</h3>
                  <h6 class="card-subtitle mb-2  text-white">Card subtitle</h6>
                  <p class="card-text text-white">Some quick example text to build.</p>
                  
                </div>
              </div>
          </div>
          <div class="col-xs-6 col-md-4">
            <div class="card m-5" style="width:18rem;">
                <img src="https://images.unsplash.com/photo-1561154464-82e9adf32764?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title text-white">Card title</h3>
                  <h6 class="card-subtitle mb-2  text-white">Card subtitle</h6>
                  <p class="card-text text-white">Some quick example text to build.</p>
                  
                </div>
              </div>
          </div>
          <div class="col-xs-6 col-md-4">
            <div class="card m-5" style="width:18rem;">
                <img src="https://images.unsplash.com/photo-1561154464-82e9adf32764?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title text-white">Card title</h3>
                  <h6 class="card-subtitle mb-2  text-white">Card subtitle</h6>
                  <p class="card-text text-white">Some quick example text to build.</p>
                  
                </div>
              </div>
          </div>
          <div class="col-xs-6 col-md-4">
            <div class="card m-5" style="width:18rem;">
                <img src="https://images.unsplash.com/photo-1561154464-82e9adf32764?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title text-white">Card title</h3>
                  <h6 class="card-subtitle mb-2  text-white">Card subtitle</h6>
                  <p class="card-text text-white">Some quick example text to build.</p>
                  
                </div>
              </div>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center my-4">
        <nav aria-label="...">
            <ul class="pagination">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item active ">
                <a class="page-link bg-danger" href="#">2 <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
        </nav>
      </div>
      
</body>
