<body class="body">
  <div class="bg-banner"></div>

  <section class="carousel-container">
    
    <h1 class="m-5 d-flex justify-content-center"> Nuestros <span class="text-danger"> productos </span> </h1>
     
    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-mdb-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active d-flex justify-content-center">
          <!-- card page 1-->
          <!-- CARD -->
          <div class="card m-5" style="width:18rem;">
            <img src="https://images.unsplash.com/photo-1561154464-82e9adf32764?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title text-white">Card title</h3>
              <h6 class="card-subtitle mb-2  text-white">Card subtitle</h6>
              <p class="card-text text-white">Some quick example text to build.</p>
              
            </div>
          </div>
          <!-- CARD -->
          <!-- CARD -->
          <div class="card m-5" style="width:18rem;">
            <img src="https://images.unsplash.com/photo-1561154464-82e9adf32764?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title text-white">Card title</h3>
              <h6 class="card-subtitle mb-2  text-white">Card subtitle</h6>
              <p class="card-text text-white">Some quick example text to build.</p>
              
            </div>
          </div>
          <!-- CARD -->
          <!-- CARD -->
          <div class="card m-5" style="width:18rem;">
            <img src="https://images.unsplash.com/photo-1561154464-82e9adf32764?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title text-white">Card title</h3>
              <h6 class="card-subtitle mb-2  text-white">Card subtitle</h6>
              <p class="card-text text-white">Some quick example text to build.</p>
              
            </div>
          </div>
          
        </div>
        <div class="carousel-item d-flex justify-content-center">
          <!-- card page 2-->
          <!-- CARD -->
          <div class="card m-5" style="width:18rem;">
            <img src="https://images.unsplash.com/photo-1561154464-82e9adf32764?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title text-white">Card title</h3>
              <h6 class="card-subtitle mb-2  text-white">Card subtitle</h6>
              <p class="card-text text-white">Some quick example text to build.</p>
              
            </div>
          </div>
          <!-- CARD -->
          <!-- CARD -->
          <div class="card m-5" style="width:18rem;">
            <img src="https://images.unsplash.com/photo-1561154464-82e9adf32764?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title text-white">Card title</h3>
              <h6 class="card-subtitle mb-2  text-white">Card subtitle</h6>
              <p class="card-text text-white">Some quick example text to build.</p>
              
            </div>
          </div>
          <!-- CARD -->
          <!-- CARD -->
          <div class="card m-5" style="width:18rem;">
            <img src="https://images.unsplash.com/photo-1561154464-82e9adf32764?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title text-white">Card title</h3>
              <h6 class="card-subtitle mb-2  text-white">Card subtitle</h6>
              <p class="card-text text-white">Some quick example text to build.</p>
              
            </div>
          </div>
          
        </div>
        <div class="carousel-item d-flex justify-content-center">
        <!-- CARD -->
          <!-- card page 3-->
          <div class="card m-5" style="width:18rem;">
            <img src="https://images.unsplash.com/photo-1561154464-82e9adf32764?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title text-white">Card title</h3>
              <h6 class="card-subtitle mb-2  text-white">Card subtitle</h6>
              <p class="card-text text-white">Some quick example text to build.</p>
              
            </div>
          </div>
          <!-- CARD -->
          <!-- CARD -->
          <div class="card m-5" style="width:18rem;">
            <img src="https://images.unsplash.com/photo-1561154464-82e9adf32764?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title text-white">Card title</h3>
              <h6 class="card-subtitle mb-2  text-white">Card subtitle</h6>
              <p class="card-text text-white">Some quick example text to build.</p>
              
            </div>
          </div>
          <!-- CARD -->
          <!-- CARD -->
          <div class="card m-5" style="width:18rem;">
            <img src="https://images.unsplash.com/photo-1561154464-82e9adf32764?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title text-white">Card title</h3>
              <h6 class="card-subtitle mb-2  text-white">Card subtitle</h6>
              <p class="card-text text-white">Some quick example text to build.</p>
              
            </div>
          </div>
          <!-- CARD -->
          <!-- card page -->
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-mdb-target="#carouselExampleControls"
        data-mdb-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-mdb-target="#carouselExampleControls"
        data-mdb-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>

  <section class="para-ellos d-flex justify-content-end align-items-center btn">
    <h1 class="ellos-f me-3 text-danger">Para ellos</h1>
  </section>

  <section
    class="para-ellas d-flex justify-content-start align-items-center btn"
  >
    <h1 class="ellas-f ms-3 text-danger">Para ellas</h1>
  </section>

  <section class="my-4">
    <h1 class="text-center my-5">Qué buscas?</h1>
    <div class="qb-container d-flex flex-wrap justify-content-center">
      <div class="bg-1"><div class="bg-image ripple" data-mdb-ripple-color="light">
        <img src="../../../assets/img/qb-1.jpg" class="w-100" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)">
            <div class="d-flex justify-content-center align-items-center h-100">
              <p class="text-white mb-0 fs-1">Deportivo</p>
            </div>
          </div>
          <div class="hover-overlay">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
          </div>
        </a>
      </div></div>
      <div class="bg-2"><div class="bg-image ripple" data-mdb-ripple-color="light">
        <img src="../../../assets/img/qb-2.jpg" class="w-100" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)">
            <div class="d-flex justify-content-center align-items-center h-100">
              <p class="text-white mb-0 fs-1">Formal</p>
            </div>
          </div>
          <div class="hover-overlay">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
          </div>
        </a>
      </div></div>
      <div class="bg-3"><div class="bg-image ripple" data-mdb-ripple-color="light">
        <img src="../../../assets/img/qb-3.jpg" class="w-100" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)">
            <div class="d-flex justify-content-center align-items-center h-100">
              <p class="text-white mb-0 fs-1">Casual</p>
            </div>
          </div>
          <div class="hover-overlay">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
          </div>
        </a>
      </div></div>
      <div class="bg-4"><div class="bg-image ripple" data-mdb-ripple-color="light">
        <img src="../../../assets/img/qb-4.jpg" class="w-100" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)">
            <div class="d-flex justify-content-center align-items-center h-100">
              <p class="text-white mb-0 fs-1">Lo último</p>
            </div>
          </div>
          <div class="hover-overlay">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
          </div>
        </a>
      </div></div>
    </div>

    <section class="carousel-container">
    
      <h1 class="m-5 d-flex justify-content-center"> Más <span class="text-danger"> de lo nuestro </span> </h1>
       
      <div
        id="carouselExampleControls"
        class="carousel slide"
        data-mdb-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active d-flex justify-content-center">
            <!-- card page 1-->
            <!-- CARD -->
            <div class="card m-5" style="width:18rem;">
              <img src="https://images.unsplash.com/photo-1561154464-82e9adf32764?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
              <div class="card-body">
                <h3 class="card-title text-white">Card title</h3>
                <h6 class="card-subtitle mb-2  text-white">Card subtitle</h6>
                <p class="card-text text-white">Some quick example text to build.</p>
                
              </div>
            </div>
            <!-- CARD -->
            <!-- CARD -->
            <div class="card m-5" style="width:18rem;">
              <img src="https://images.unsplash.com/photo-1561154464-82e9adf32764?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
              <div class="card-body">
                <h3 class="card-title text-white">Card title</h3>
                <h6 class="card-subtitle mb-2  text-white">Card subtitle</h6>
                <p class="card-text text-white">Some quick example text to build.</p>
                
              </div>
            </div>
            <!-- CARD -->
            <!-- CARD -->
            <div class="card m-5" style="width:18rem;">
              <img src="https://images.unsplash.com/photo-1561154464-82e9adf32764?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
              <div class="card-body">
                <h3 class="card-title text-white">Card title</h3>
                <h6 class="card-subtitle mb-2  text-white">Card subtitle</h6>
                <p class="card-text text-white">Some quick example text to build.</p>
                
              </div>
            </div>
            
          </div>
          <div class="carousel-item d-flex justify-content-center">
            <!-- card page 2-->
            <!-- CARD -->
            <div class="card m-5" style="width:18rem;">
              <img src="https://images.unsplash.com/photo-1561154464-82e9adf32764?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
              <div class="card-body">
                <h3 class="card-title text-white">Card title</h3>
                <h6 class="card-subtitle mb-2  text-white">Card subtitle</h6>
                <p class="card-text text-white">Some quick example text to build.</p>
                
              </div>
            </div>
            <!-- CARD -->
            <!-- CARD -->
            <div class="card m-5" style="width:18rem;">
              <img src="https://images.unsplash.com/photo-1561154464-82e9adf32764?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
              <div class="card-body">
                <h3 class="card-title text-white">Card title</h3>
                <h6 class="card-subtitle mb-2  text-white">Card subtitle</h6>
                <p class="card-text text-white">Some quick example text to build.</p>
                
              </div>
            </div>
            <!-- CARD -->
            <!-- CARD -->
            <div class="card m-5" style="width:18rem;">
              <img src="https://images.unsplash.com/photo-1561154464-82e9adf32764?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
              <div class="card-body">
                <h3 class="card-title text-white">Card title</h3>
                <h6 class="card-subtitle mb-2  text-white">Card subtitle</h6>
                <p class="card-text text-white">Some quick example text to build.</p>
                
              </div>
            </div>
            
          </div>
          <div class="carousel-item d-flex justify-content-center">
          <!-- CARD -->
            <!-- card page 3-->
            <div class="card m-5" style="width:18rem;">
              <img src="https://images.unsplash.com/photo-1561154464-82e9adf32764?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
              <div class="card-body">
                <h3 class="card-title text-white">Card title</h3>
                <h6 class="card-subtitle mb-2  text-white">Card subtitle</h6>
                <p class="card-text text-white">Some quick example text to build.</p>
                
              </div>
            </div>
            <!-- CARD -->
            <!-- CARD -->
            <div class="card m-5" style="width:18rem;">
              <img src="https://images.unsplash.com/photo-1561154464-82e9adf32764?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
              <div class="card-body">
                <h3 class="card-title text-white">Card title</h3>
                <h6 class="card-subtitle mb-2  text-white">Card subtitle</h6>
                <p class="card-text text-white">Some quick example text to build.</p>
                
              </div>
            </div>
            <!-- CARD -->
            <!-- CARD -->
            <div class="card m-5" style="width:18rem;">
              <img src="https://images.unsplash.com/photo-1561154464-82e9adf32764?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
              <div class="card-body">
                <h3 class="card-title text-white">Card title</h3>
                <h6 class="card-subtitle mb-2  text-white">Card subtitle</h6>
                <p class="card-text text-white">Some quick example text to build.</p>
                
              </div>
            </div>
            <!-- CARD -->
            <!-- card page -->
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-mdb-target="#carouselExampleControls"
          data-mdb-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-mdb-target="#carouselExampleControls"
          data-mdb-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>
  </section>
</body>

